<div ng-controller="cartCtrl">
  <div class="darkness" ng-show="notification"></div>
  <div class="navbar-header">
    <div class="container">
      <nav class="navbar" id="cart-nav" role="navigation">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a href="#/selector">Add Cable</a></li>
          <li class="nav-item"><a href="" ng-click='printDiv()'>Print Quotation</a></li>
          <li class="nav-item"><a ng-click="metric = !metric;" ng:class="{ 'metric': metric, 'imperial': ! metric }">{{ metric ? 'Select Imperial' : 'Select Metric' }}</a></li>
          <li class="nav-item"><a href="#/" back>Close Cart</a></li>
        </ul>
        <div class="cartbar">
          <a href="#/cart" class="cart-icon">Cart ({{ cartLength() }})</a>
        </div>
      </nav>
    </div>
  </div>
  <div class="cable-content" id="cart">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="order-items content">
            <p>Thank you for shopping through the Cable Wizard</p>
            <p>This is your shopping cart. Here you can edit the items, go back to the store, or check out.</p>
            <table class="table cart">
              <thead>
                <tr>
                  <th ng-click="orderByField='rf_part'; sortReverse = !sortReverse">
                    Cable
                    <span ng-show="orderByField == 'rf_part'">
                      <span ng-show="sortReverse" class="fa fa-caret-down caret"></span>
                      <span ng-show="!sortReverse" class="fa fa-caret-up caret"></span>
                    </span>
                  </th>
                  <th ng-click="orderByField='quantity'; sortReverse = !sortReverse">
                    Quantity
                    <span ng-show="orderByField == 'quantity'">
                      <span ng-show="sortReverse" class="fa fa-caret-down caret"></span>
                      <span ng-show="!sortReverse" class="fa fa-caret-up caret"></span>
                    </span>
                  </th>
                  <th ng-click="orderByField='length'; sortReverse = !sortReverse">
                    Length (<span ng:class="{ 'metric': metric, 'imperial': ! metric }">{{ metric ? 'cm' : 'in' }}</span>)
                    <span ng-show="orderByField == 'length'">
                      <span ng-show="sortReverse" class="fa fa-caret-down caret"></span>
                      <span ng-show="!sortReverse" class="fa fa-caret-up caret"></span>
                    </span>
                  </th>
                  <th ng-click="orderByField='price'; sortReverse = !sortReverse">
                    Price ($)
                    <span ng-show="orderByField == 'price'">
                      <span ng-show="sortReverse" class="fa fa-caret-down caret"></span>
                      <span ng-show="!sortReverse" class="fa fa-caret-up caret"></span>
                    </span>
                  </th>
                  <th><a href=""></a></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="ca in cart | orderBy:orderByField:sortReverse">
                  <td>
                    <p><b>{{ ca.rf_part }}</b></p>
                    <p>{{ ca.name }}</p>
                    <p>{{ ca.conn_1 }}</p>
                    <p>{{ ca.conn_2 }}</p>
                    <p>Macola - {{ ca.macola }}</p>
                  </td>
                  <td><input class="form-control" id="quantity" ng-model="ca.quantity" type="number" min="1" ng-change="storeQuantity(ca.quantity, $index)"></td>
                  <td><input class="form-control" id="length" ng-model="ca.length" type="number" min="1" ng:class="{ 'metric': metric, 'imperial': ! metric }" ng-change="storeLength(ca.length, $index)" ng-blur="lengthCheck(ca.length)"></td>
                  <td>${{ cablePrice(ca.length, ca.covering, ca.quantity, $index) }} USD</td>
                  <td><a href="#/configurator?part_id={{ca.id}}&assembly={{$index}}"><span class="icons edit"></span></a><a href="" ng-click="printDrawing()"><span class="icons print"></span></a><a><span class="icons delete" ng-click="deleteItem($index)"></span></a></td>
                </tr>
                <tr ng-hide="cart.length">
                  <td id="no_cables" colspan="6">You have no cables in your cart.<br>To add cables to your cart please click 'Add Cable' in the top left of the application.</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>Total</td>
                  <td>{{ totalQuantity() }} cable(s)</td>
                  <td></td>
                  <td>{{ totalPrice() | currency }} USD</td>
                  <td></td>
                </tr>
              </tfoot>
            </table>
            <div class="order-functions">
              <a href="" class="btn btn-primary" role="button" ng-click="clearCart()" aria-disabled="true">Clear Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="notification" ng-show="notification">
        <div class="notification-content">
          <h3 class="notification-title">{{ notification_title }}</h3>
          <p>{{ notification_message }}</p>
          <a href="" class="btn btn-primary" ng-click="notificationHide()">{{ notification_button }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
