<div class="darkness" ng-show="notification"></div>
<div class="navbar-header">
  <div class="container">
    <nav class="navbar" id="selector-nav" role="navigation">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a ng-click="metric = !metric;" ng:class="{ 'metric': metric, 'imperial': !metric }">Select {{ metric ? 'Imperial' : 'Metric' }}</a></li>
      </ul>
      <div class="cartbar">
        <a ui-sref="cart" class="cart-icon">Cart ({{ cartLength() }})</a>
      </div>
    </nav>
  </div>
</div>
<div class="cable-content" id="selector">
  <div class="container container-content">
    <div class="col-lg-3 col-md-12 sidebar" setHeight>
      <div class="widget">
        <h3>Filter</h3>
        <form>
          <div class="form-group">
            <label for="max_freq">Max. Frequency (GHz)</label>
            <input type="number" class="form-control" id="max_freq" ng-model="search_freq" min="0" ng-change="storeFreq(search_freq)">
          </div>
          <div class="form-group">
            <label for="conn_1">Connector 1 Series</label>
            <select class="form-control minimal" id="conn_1" ng-model="conn_1">
              <option value="">No Preference</option>
              <option ng-repeat="connector in series | filter: greaterThanFreq(search_freq)" value="{{ connector.series }}">{{ connector.series }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="conn_2">Connector 2 Series</label>
            <select class="form-control minimal" id="conn_2" ng-model="conn_2">
              <option value="">No Preference</option>
              <option ng-repeat="connector in series | filter: greaterThanFreq(search_freq)" value="{{ connector.series }}">{{ connector.series }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="environment">Environment</label>
            <select class="form-control minimal" id="environment" ng-model="environment">
              <option value="">No Preference</option>
              <option value="indoor">Indoor</option>
              <option value="outdoor">Outdoor</option>
              <option value="test">Test</option>
            </select>
          </div>
          <div class="form-group">
            <label for="length">Length (<span ng:class="{ 'metric': metric, 'imperial': ! metric }">{{ metric ? 'cm' : 'in' }}</span>)</label>
            <input type="number" class="form-control" id="clength" ng-model="clength" min="0" step="any" ng:class="{ 'metric': metric, 'imperial': ! metric }" ng-change="storeLength(clength)">
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-9 col-md-12 content">
      <div class="content-head">
        <div class="container">
          <h3>Select a Cable</h3>
          <p id="count-cables">{{ totalRows() }} out of {{cables.length}} cables</p>
        </div>
      </div>
      <div class="container content-wrap">
        <table class="table" id="selector-table">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th ng-click="sortData('name')">Cable <span ng-class="getSortItem('name')"></span></th>
              <th ng-click="sortData('db loss')">dB Loss (<span ng:class="{ 'metric': metric, 'imperial': !metric }">{{ metric ? 'cm' : 'in' }}</span>) <span ng-class="getSortItem('db loss')"></span></th>
              <th ng-click="sortData('diameter')">Diameter (<span ng:class="{ 'metric': metric, 'imperial': ! metric }">{{ metric ? 'cm' : 'in' }}</span>) <span ng-class="getSortItem('diameter')"></span></th>
              <th ng-click="sortData('cost')">Cost <span ng-class="getSortItem('cost')"></span></th>
              <th ng-click="sortData('flex')">Flexibility <span ng-class="getSortItem('flex')"></span></th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-click="toConfig(cable.id, conn_1, conn_2); err = !err" ng-repeat="cable in filterCables = (cables | filter: greaterThan(search_freq) | filter: enFilter(environment) | orderBy: orderByField: sortReverse )" ng-hide="((cable.connectors | filter:conn_1).length == 0) || ((cable.connectors | filter:conn_2).length == 0)">
              <td class="td-img">
                <img class="cable-img" ng-src="../wp-content/uploads/cable-wizard/{{ cable.cable_img }}" onerror="this.src='../wp-content/uploads/cable-wizard/none.png'"/>
              </td>
              <td class="collapse"><span class="show-mobile">Cable: </span>{{ cable.name }}
                <span>
                  <div ng-repeat="connector in filterConnectors = (cable.connectors | filter: { con_series: conn_1 } | filter: { con_series: conn_2 })"></div>
                </span>
              </td>
              <td class="collapse" id="loss" ng-model="loss" ng:class="{ 'metric': metric, 'imperial': ! metric }"><span class="show-mobile">db Loss: </span>{{ calcLoss(cable.typ_atten_k1, cable.typ_atten_k2)}} dB</a></td>
              <td class="collapse" ng-class="{ 'metric': metric, 'imperial': ! metric }"><span class="show-mobile">Diameter: </span>{{ metric ? round(cable.diameter * 2.52) : cable.diameter }}</a></td>
              <td class="collapse"><span class="show-mobile">Cost: </span>{{ cable.price }}</a></td>
              <td class="collapse"><span class="show-mobile">Flexibility: </span>{{ cable.flex }}</a></td>
              <td><span class="next"></span></a></td>
            </tr>
          </tbody>
        </table>
        <p ng-hide="totalRows()" id="no_cables">To search for cables please specify your requirements.<br> If you cannot find a cable please change your search specifications and try again.</p>
      </div>
    </div>
    <div class="notification" ng-show="notification">
      <div class="notification-content">
        <h3 class="notification-title">{{ notification_title }}</h3>
        <p>{{ notification_message }}</p>
        <a href="" class="btn btn-primary" ng-click="notificationHide()">{{ notification_button }}</a>
      </div>
    </div>
  </div>
</div>
