<div class="navbar-header">
  <div class="container">
    <nav class="navbar" id="configurator-nav" role="navigation">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a id="back-icon" href="" back>Back</a></li>
        <li class="nav-item"><a id="cancel-icon" ui-sref="cart">Cancel</a></li>
      </ul>
      <div class="cartbar">
        <a ng-click="toCart()" id="cart-icon">Cart ({{ cartLength() }})</a>
      </div>
    </nav>
  </div>
</div>
<div class="cable-content" id="configurator" hotkey="{esc: notificationHide}">
  <div class="container content-container">
    <div class="col-lg-3 col-md-12 sidebar">
      <div class="widget">
        <h3>Filter</h3>
        <form>
          <div class="form-group">
            <label>Max. Frequency (GHz)</label>
            <input type="number" class="form-control" id="max_freq" ng-model="search_freq" min="0" step="any" ng-change="storeFreq(search_freq, cable.max_freq)">
          </div>
          <div class="form-group">
            <label>Length (<span ng:class="{ 'metric': metric, 'imperial': ! metric }">{{ metric ? 'cm' : 'in' }}</span>)</label>
            <input type="number" class="form-control" id="clength" ng-model="clength" min="0" step="any" ng:class="{ 'metric': metric, 'imperial': ! metric }" ng-change="storeLength(clength)">
          </div>
          <div class="form-group">
            <label>Covering</label>
            <select class="form-control minimal" id="covering" ng-options="cover.cover for cover in covers track by cover.letter" ng-model="covering" ng-change="cableCovering(covering.letter, cable.extended_boot)">
              <option value="">None</option>
            </select>
          </div>
          <div class="form-group" ng-repeat="cable in cables" ng-if="cable.extended_boots_price > '0.00'">
            <label>Optional</label>
            <br/>
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" ng-model="cable.extended_boot" ng-false-value="''" ng-true-value="'E'" ng-change="cableCovering(covering.letter, cable.extended_boot)">
              Extended Boots
            </label>
          </div>
          <div class="form-group" id="measure">
            <label>Measurement (<span ng:class="{ 'metric': metric, 'imperial': ! metric }">{{ metric ? 'cm' : 'in' }}</span>)</label>
            <a class="btn btn-primary btn-measure" ng-click="metric = !metric;" ng:class="{ 'metric': metric, 'imperial': !metric }">{{ metric ? 'Imperial' : 'Metric' }}</a>
          </div>
        </form>
      </div>
      <div class="widget" ng-repeat="cable in cables">
        <h3>Cable Overview</h3>
        <p>{{ cable.name }}</p>
        <p id="loss" ng:class="{ 'metric': metric, 'imperial': ! metric }">Insertion Loss {{ metric ? '(m)' : '(ft)' }} - {{ calcLoss(cable.typ_atten_k1, cable.typ_atten_k2) }} dB</p>
        <p id="conn_1_overview">Connector 1 - <span ng-repeat="connector in connectors" ng-if="conn_1.con_part_no === connector.con_part_no">{{ conn_1.con_part_no }} ({{ connector.con_description }})</span></p>
        <p id="conn_2_overview">Connector 2 - <span ng-repeat="connector in connectors" ng-if="conn_2.con_part_no === connector.con_part_no">{{ conn_2.con_part_no }} ({{ connector.con_description }})</span></p>
      </div>
      <div class="widget">
        <h3>Pricing <span>(By quantity)</span></h3>
        <table id="cable-prices">
          <tbody>
            <tr ng-repeat="price in cable_price">
              <td>{{ price.quantity }}</td>
              <td>${{ price.qm }}</td>
            </tr>
          </tbody>
        </table>
        <p>($500 min. line item / $1500 min. order value)</p>
      </div>
    </div>
    <div class="col-lg-9 col-md-12 content" ng-repeat="cable in cables">
      <div class="content-head">
        <div class="container">
          <h3>Configure Your Cable</h3>
          <a href='' class='btn btn-primary btn-head' role='button' ng-click='addCart(cable.name, cable.part_no, cable.typ_atten_k1, cable.typ_atten_k2, covering.letter, cable.extended_boot)'>Add to Cart</a>
          <a href='' class='btn btn-primary btn-head margin-right' role='button' ng-click="standardShow()" ng-show="standard.length > 0">Available Cables</a>
        </div>
      </div>
      <div id="config-content" class="container content-wrap">
        <div class="cable-configurator">
          <div class="cable-info">
            <p>{{ rflabsPartNo(conn_1.con_part_no, cable.part_no, covering.letter, cable.extended_boot, clength, conn_2.con_part_no) }}</p>
          </div>
          <table class="cable-assembly">
            <tbody>
              <tr class="cable-holder">
                <td class="bin" id="conn_1" ng-drop="true">
                  <div ng-repeat="conn in droppedObjects1" ng-drag="true" ng-drag-data="obj">
                    <div class="conn-image">
                      <img ng-repeat="connector in connectors" ng-if="conn.con_part_no === connector.con_part_no" ng-src="./wp-content/uploads/cable-wizard/{{ connector.con_img }}" onerror="this.src='./wp-content/uploads/cable-wizard/none.png'"/>
                    </div>
                    <div class="conn-title">
                      <p>{{ conn.con_part_no }} - {{ conn.con_series }}</p>
                    </div>
                  </div>
                </td>
                <td class="image-holder">
                  <div class="cable-covering">
                    <img class="cover-img" ng-src="./wp-content/plugins/cable-wizard/app/assets/img/covering/{{ cableCover(covering.letter) }}" onerror="this.src='./wp-content/uploads/cable-wizard/none.png'" ng-if="covering">
                  </div>
                  <div class="cable-base">
                    <img class="cable-img" ng-src="./wp-content/uploads/cable-wizard/{{ cable.cable_img }}" onerror="this.src='./wp-content/uploads/cable-wizard/none.png'">
                  </div>
                </td>
                <td class="bin" id="conn_2" ng-drop="true">
                  <div ng-repeat="conn in droppedObjects2" ng-drag="true" ng-drag-data="obj">
                    <div class="conn-image">
                      <img ng-repeat="connector in connectors" ng-if="conn.con_part_no === connector.con_part_no" ng-src="./wp-content/uploads/cable-wizard/{{ connector.con_img }}" onerror="this.src='./wp-content/uploads/cable-wizard/none.png'"/>
                    </div>
                    <div class="conn-title">
                      <p>{{ conn.con_part_no }} - {{ conn.con_series }}</p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr id="cable-spec">
                <td id="conn_1_part">{{ conn_1.con_part_no }} <span ng-show="conn_1 !== defined && conn_1 !== ''">( <a href="" ng-click="clearBin_1()">Drop</a> ) </span></td>
                <td id="cable-length" ng:class="{ 'metric': metric, 'imperial': ! metric }">{{ metric ? ((clength | noComma) || '0') + ' cm' : ((clength | noComma) || '0') + ' in' }} </td>
                <td id="conn_2_part">{{ conn_2.con_part_no }} <span ng-show="conn_2 !== defined && conn_2 !== ''">( <a href="" ng-click="clearBin_2()">Drop</a> ) </span></td>
              </tr>
            </tbody>
          </table>
          <div class="row connector-selection">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 conn-box" ng-repeat="conn in filterConnectors = (cable.connectors | filter: showConnector | filter: greaterThanFreq(search_freq) | orderBy: object)">
              <div class="item" id="{{ conn.con_part_no }}" ng-drag="true" ng-drag-data="conn" data-allow-transform="true" draggable="true" draggable ng-click="onClick(conn, $event)">
                <div class="conn-image">
                  <img ng-repeat="connector in connectors" ng-if="conn.con_part_no === connector.con_part_no" ng-src="./wp-content/uploads/cable-wizard/{{ connector.con_img }}" onerror="this.src='./wp-content/uploads/cable-wizard/none.png'"/>
                </div>
                <div class="conn-title">
                  <p>{{ conn.con_part_no }} - {{ conn.con_series }}</p>
                </div>
              </div>
            </div>
            <div id="no_connectors" ng-show="!filterConnectors.length">
              <p>There are no connectors available under the maximum frequency given.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="notification" ng-show="notification">
      <div class="notification-content">
        <h3 class="notification-title">{{ notification_title }}</h3>
        <p>{{ notification_message }}</p>
        <a href="" class="btn btn-primary" ng-click="notificationHide()">{{ notification_button }}</a>
      </div>
    </div>
    <div class="standard-cables" ng-show="standard_cable_screen">
      <h3>Cables Available</h3>
      <p ng-repeat="cable in cables">We have a number of standard {{ cable.name }} cables available.</p>
      <div class="standard-table-holder">
        <table class="table" id="standard-table">
          <tbody>
            <tr class="selector" ng-click="toConfigStandard(stan.length, stan.conn_1, stan.conn_2)" ng-repeat="stan in standard">
              <td class="collapse collapse-top">{{ stan.conn_1 }}-{{ stan.part_no}}-{{ stan.length | number : 1 }}-{{ stan.conn_2 }}</td>
              <td class="text-align-right"><span class="next"></span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="screen-buttons">
        <a href="" class="btn btn-primary" ng-click="standardHide()">Close</a>
      </div>
    </div>
  </div>
</div>
<div class="darkness" ng-show="notification || print_drawing || standard_cable_screen"></div>
